<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AMT Automag III</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap css-->
        {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">AMT Automag III</h1>
                    <p class="lead fw-normal text-white-50 mb-0">.30 Carbine made by Irwindale Arms</p>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5 my-5">
            <p class="text-center text-white">The AMT Automag III is a single action semi-automatic handgun, designed by Harry Sanford, creator of the first Auto Mag. 
                The Automag III was principally chambered for the .30 Carbine cartridge, which was originally designed for the World War II era M1 Carbine. It was also one of the few pistols available in the 9mm Winchester Magnum cartridge. Only the original AMT 
                production pistols were made in this chambering, however; later Galena production was limited to .30 Carbine models. The pistol is made of stainless steel and has an 8-round magazine.</p>
                <p class="text-center text-white">Ammunition: .30 Carbine</p>
        </div>
        <div class="text-center">
        <span class="text-warning">Price: $1249.99</span>
    </div>
    </body>
</html>
