<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Beretta 1934</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap css-->
        {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Beretta 1934</h1>
                    <p class="lead fw-normal text-white-50 mb-0">An Italian compact legend</p>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5 my-5">
            <p class="text-center text-white">The Beretta Model 1934 is an Italian compact, semi-automatic pistol which was issued as the service pistol of the Royal Italian Army beginning in 1934.
                 As the standard sidearm of the Italian army it was issued to officers, NCOs and machine gun crews. It is chambered for the 9mm Corto, more commonly known as the .380 ACP.</p>
                <p class="text-center text-white">Ammunition: .380 ACP</p>
        </div>
        <div class="text-center">
        <span class="text-warning">Price: $999.99</span>
    </div>
    </body>
</html>
