<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>1782 Gold Line</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap css-->
        {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">1782 Gold Line</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Exclusive finishing, highest durability</p>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5 my-5">
            <p class="text-center text-white">The 1782 Gold Line radiates elegance and uniqueness and impresses with an exclusive appearance. 
                The gold-colored components are titanium-nitrided (TIN). This exclusive overall package is rounded off with an elegant bolt knob 
                made of beautifully grown walnut and the selected premium stock woods included in the scope of deliverey of Gold Line configurations.</p>
                <p class="text-center text-white">Ammunition: .243 Win. | 6.5 Creedmoor | .308 Win. | 6.5 x 55 SE | .30-06 | 8×57 IS | 9.3 x 62 | .300 Win. Mag.</p>
        </div>
        <div class="text-center">
        <span class="text-warning">Price: $2549.99</span>
    </div>
    </body>
</html>
